.contact_wrapper {
  padding: 5% 5%;
  height: 100%;
  .icon {
    font-size: xx-large;
  }
  @media (max-width: 414px) {
    display: flex;
  }
  @media (min-width: 414px) {
    display: flex;
    flex-direction: column;
  }

  .contact_content {
    display: flex;
    align-items: center;
  }
}
