@import "../../colors";
@import "../../_breakpoint";
@import "../../_mixin";

.project_wrapper {
  color: $font-color;
  background-color: transparent;
  width: 100%;
  height: 100%;

  .imageBox {
    position: relative;
    width: 100%;
    padding-top: 56.25%; // 16:9のアスペクト比

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include mq(sm) {
    .imageBox {
      padding-top: 30%; // デスクトップでの高さを調整
    }

    .skills_wrapper .skills_list {
      font-size: medium; // デスクトップでのフォントサイズを調整
    }

    .project_title {
      font-size: larger; // デスクトップでのフォントサイズを調整
    }
  }

  .skills_wrapper {
    display: flex;
    flex-direction: column;
    .skills_list {
      font-weight: 700;
      font-size: large;
      color: $font-color;
    }
  }

  .project_title {
    color: $font-color;
    font-weight: 800;
    font-size: x-large;
  }
  .project_content {
    font-size: large;
    font-weight: 800;
    line-height: 120%;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    outline: 1px solid transparent;
  }
}
