@import "../../colors";

.profile_wrapper {
  color: $font-color;

  .personal_wrapper {
    display: flex;
    flex-direction: column;
    .profile_list {
      font-weight: 700;
      font-size: large;
      color: $font-color;
    }
  }

  .profile_title {
    font-weight: bold;
    color: $font-color;
  }
  .profile_content {
    font-size: x-large;
    font-weight: 800;
    padding-left: 5%;
  }
}
