@import "../../colors";
@import "../../_breakpoint";
@import "../../_mixin";

.home_wrapper {
  display: flex;
  height: 100svh; // 画面の高さいっぱいにする
  flex-direction: column-reverse;
  background-color: $main-color;

  @include mq(md) {
    // 480px以上の場合のスタイル
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .tab_wrapper {
      button {
        width: 100%;
        height: 100px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.card_wrapper {
  width: 100%;
  height: 100%;
  // justify-content: right;
}

// @media (max-width: 960px) {
//   .css-y0fr9s-MuiButtonBase-root-MuiTab-root {
//     min-width: 8% !important;
//   }
// }
