@import "../../colors";
@import "../../_breakpoint";
@import "../../_mixin";

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.project_wrapper {
  color: $font-color;
  // height: 90%;
  margin: 3% 0;
  overflow-y: auto;

  .card {
    margin: 2% 0;
  }

  @include mq(md) {
    display: grid;
    gap: 10px;

    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

    // 480px以上 (タブレットサイズ) で2列
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    .media {
      height: 60%;
    }

    .hidden {
      display: none;
    }

    .expanded {
      // position: fixed;
      width: 80vw;
      height: 90svh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
    }
  }

  @include mq(xl) {
    display: grid;
    gap: 10px;

    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

    // hoverした時のエフェクト
    // &:hover {
    //   transform: translateY(-10px); // カードを少し上に動かす
    //   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); // 影をつけることで浮き上がって見えるようにする
    // }

    // 1000px以上 (PCサイズ) で3列
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(200px, 1fr));

    .media {
      height: 50%;
    }

    .hidden {
      display: none;
    }

    // .expanded {
    //   // position: fixed;
    //   width: 80vw;
    //   height: 90vh;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   z-index: 1000;
    //   // background-color: rgba(0, 0, 0, 0.7);  // 背景を半透明に
    // }
  }

  .project_list {
    font-weight: 700;
    font-size: large;
    color: $font-color;
  }

  .project_title {
    color: $accent-color;
    font-weight: 800;
    font-size: large;
  }

  @include mq(sm) {
    .project_title {
      color: $accent-color;
      font-weight: 800;
      font-size: xx-large;
      margin: auto 0;
    }
  }
  .project_content {
    font-size: large;
    font-weight: 500;
    padding-left: 5%;
    line-height: 120%;
  }
}
