$main-color: #445069;
$second-color: #252B48;
$accent-color: #F7E987;
$light-color: #5B9A8B;
$icon-color: #fff;
$font-color: #f1f6f5;


:export {
    main: $main-color;
    second: $second-color;
    accent: $accent-color;
    light: $light-color;
    icon: $icon-color;
    font: $font-color;
}