$font-family: "Consolas", monaco, monospace;

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: $font-family !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-family;
}

html,
body,
#root,
#app,
#app > div {
  height: 100%;
}
